.billing-form {
  & input {
    padding: 5px 10px;
    width: 100%;
  }

  .btn-modal-close {
    position: absolute;
    right: -15px;
    top: 0;
    color: black !important;
  }

  .btn-coupon-apply {
    right: 20px;
    top: 36px;
  }
}