.action-button-container {
  width: 338px;
  border: 1px solid #b1b9cc;
  background: white;
  border-radius: 10px;

  input[type="text"] {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #E6E7EB;
    padding-left: 10px;
    padding-right: 85px;
    font-size: 14px;
    color: #30323B;

    &:focus {
      outline: none;
    }
  }

  label {
    font-size: 14px !important;
    color: #5f5f61;
    margin-bottom: 0 !important;
  }

  .action-header {
    border-bottom: 2px solid #D7D8DB;
    margin-bottom: 10px;

    span {
      font-size: 14px;
      color: #5F5F61;
    }

    div {
      font-size: 12px;

      i {
        font-size: 18px;
        vertical-align: bottom;
      }
    }
  }

  .action-label-container {
    input {
      padding-right: 65px;
    }

    .position-absolute {
      color: #B1B9CC;
      right: 10px;

      button {
        color: #B1B9CC;
      }

      span {
        font-size: 10px;
      }
    }
  }

  .action-type-container {
    border-bottom: 1px dashed rgba(48,50,59,0.15);

    & > span {
      font-size: 14px;
      color: #5f5f61;
      padding-left: 9px;
      margin-bottom: 6px;
    }

    .action-types {
      display: flex;
      align-items: center;
      padding-top: 5px;
      margin-bottom: 10px;

      & > label {
        padding-left: 0;
      }

      input {
        width: 20px;
        height: 20px;
      }

      span {
        font-size: 12px;
        color: #30323B;
      }
    }

    .react-phone-number-input__icon > img {
      vertical-align: top !important;
    }
  }

  .form-group {
    &.tags-container {
      .css-vj8t7z, .css-2o5izw {
        height: 40px;
        border-radius: 20px;

        .css-1hwfws3 {
          display: flex;
          flex-wrap: nowrap;
          height: 100%;

          .css-1492t68 {
            font-size: 12px;
          }

          .react-tagsinput {
            border-width: 0;
            max-height: 150px;
            overflow: auto;

            .react-tagsinput-tag {
              background-color: rgba(39, 122, 240, 0.12);
              border-radius: 10px;
              border-color: rgba(39, 122, 240, 0.12);
              color: #464647;
              font-size: 12px;
              text-transform: uppercase;

              .react-tagsinput-remove {
                margin-left: 5px;
              }
            }

            .react-tagsinput-input {
              //display: none;
            }
          }
        }

        .css-1wy0on6 {
          display: none;
        }
      }

      .css-1alnv5e {
        &:hover, &:active {
          background-color: #e6e6e6 !important;
          color: #30323b;
        }
      }
    }

    .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
      background-color: white;
    }

    .dropdown-toggle {
      height: 40px;
      border: 1px solid #E6E7EB;
      background-color: white;
      box-shadow: none;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px !important;
      transform: none;

      &:after {
        color: #B1B9CC;
      }
    }

    .dropdown-menu {
      margin: 2px 0 0 -5px;
      padding: 0;
      border-radius: 10px;
      box-shadow: 0 2px 20px 0 rgba(48,50,59,.15);
      border: 1px solid #ebebeb;
      width: 100%;
    }

    .dropdown-toggle span {
      font-size: 14px;
      line-height: 16px;
      color: #30323b;
      font-weight: normal;
    }

    .show > .btn-secondary.dropdown-toggle, .dropdown-toggle:active {
      background-color: white !important;
      border: 1px solid #E6E7EB;
      box-shadow: none;
      border-radius: 20px;
    }
  }

  .btn-save {
    border-radius: 8px;
  }

  .btn-edit-message {
    border: 1px solid #b1b9cd;
    border-radius: 20px;
  }
}