.flyout-nav {
  position: absolute;
  width: 100%;
  z-index: 1050;
  z-index: 99999;
  #globalnav-flyout {
    z-index: 100;
    width: 98%;
    left: 50%;
    transition: top 500ms ease;
  
    .globalnav-fan-pages-listing-container {
      background-color: white;
      border-radius: 10px;
      max-height: 440px;
      overflow-y: scroll;
  
      .globalnav-add-new-fan-page {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        padding: 1.0rem;
      }

      .globalnav-fan-page-list-item {
        text-align: center;
        margin-bottom: 20px;

        .globalnav-fan-page-title {
          color: #5f5f61;
          text-align: left;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
        }
        
        .globalnav-fan-page-cell {
          border: 1px solid #e6e7eb;
          border-radius: 10px;
          overflow: hidden;

          .globalnav-fan-page-title {
            color: #5f5f61;
            text-align: left;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
          }
  
          .globalnav-fan-page-image {
            cursor: pointer;
            height: 128px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-bottom: 1px solid #e6e7eb;
          }
  
          .globalnav-fan-page-stats {
            color: #b5bcce;
            font-size: 0.8em;
  
            > div {
              padding: 0;
  
              > div {
                color: #30323b;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  
    .add-new-btn {
      width: 150px;
      height: 150px;
      i {
        font-size: 3.0rem;
      }
    }
  }
  
  #globalnav-flyout-toggle {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    transition: top 500ms ease;
    z-index: 200;
    min-width: 110px;
    max-width: 250px;
    height: 40px;
    border-radius: 0 0 10px 10px;
    background-color: white;
    box-shadow: 0 6px 20px 0 rgba(48,50,59,0.15);
    padding: 3px 5px;

    .profile-icon {
      span {
        font-size: 12px;
        color: #5F5F61;
      }

      img {
        border-radius: 50%;
      }
    }

    i {
      color: #B1B9CC;
    }
  }
}
