.video-container {
  width: 266px;
  min-height: 202px;
  border-radius: 18px;
  margin-top: 26px;

  &:hover {
    cursor: pointer;
  }

  .upload-warning {
    bottom: 8px;
    right: 8px;
  }

  .video-action-btn {
    border: 1px solid #c0c0c0;
    height: 45px;
    font-size: 14px;
    border-top:none;

    .action-icon {
      right: 8px;
      bottom: 11px;
      width: 20px;
      height: 20px;
    }
  }

  .video-add-btn {
    font-size: 17px !important;
    color: #b1b9cd !important;
    text-align: center;
    padding: 12px 22px;
    border: 1px solid #c0c0c0;
    border-radius: 0 0 18px 18px;

    &:hover {
      border: 1px solid #242424;
      color: #242424 !important;
    }
  }

  .delete-btn {
    top: -25px;
    right: -25px;
    border-radius: 25px;
    border: 1px solid #b1b9cd;
    width: 50px;
    height: 50px;

    &:hover {
      border-color: firebrick;

      i {
        color: firebrick;
      }
    }

    i {
      font-size: 22px;
      color: #B1B9CC;
    }
  }
}