.fanpage-home-container {
  height: calc(100vh - 171px);
  border-radius: 10px;

  & > div {
    border-radius: 10px;
  }

  .homepage-top-container {
    margin-bottom: 10px;
    flex: 0 0 330px;

    .user-info-container {
      float: left;
      width: 39%;
      border-radius: 10px;
      box-shadow: 0 2px 4px 0 rgba(48, 50, 59, .15);

      .card {
        border-radius: 10px;

        img {
          border-radius: 10px 10px 0 0;
          height: 184px;
          object-fit: cover;
        }

        .card-header {
          padding: 10px 20px !important;
          background-color: #e6e7eb !important;
          height: 51px;

          h4 {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-right: 10px !important;
          }

          h4, span {
            color: #5f5f61 !important;
          }
        }

        .card-body {
          height: 95px;

          strong {
            font-size: 15px;
            color: #30323b;
          }

          small {
            font-size: 10px;
            color: #b1b9cc;
          }

          .vertical-line {
            width: 1px;
            height: 27px;
            background-color: #979797;
          }
        }
      }
    }

    .subscribers-chart-container {
      float: right;
      width: 61%;

      .card {
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(48, 50, 59, .15);

        .card-body {
          font-size: 14px !important;

          .dropdown-toggle {
            &:hover {
              transform: none;
            }
          }

          & > span {
            color: #B1B9CC;
          }

          & > div {
            flex: 1;
          }
        }
      }
    }
  }

  .homepage-details-container {
    border-radius: 10px;
    padding: 20px 0;
    background-color: #fff;
    flex: 1;
    box-shadow: 0 2px 10px 0 rgba(48, 50, 59, .15);
    margin-bottom: 2px;

    .comments-container {
      float: left;
      width: 50%;
      padding: 0 20px;
      height: calc(100vh - 580px);

      .comments-header {
        .comment-search-container {
          input {
            border-radius: 19px !important;
            width: 150px;
            border: 1px solid #B1B9CC;
            padding: 8px 14px;
            font-size: 12px;
            color: #464647;
          }

          i {
            width: 14px;
            color: #30323b;
          }
        }
      }

      .comments-list {
        height: calc(100% - 45px);
        overflow: auto;
        &:hover{
          cursor:pointer;
        }
        .page-post {
          img {
            max-height: 80px;
          }

          .post-content {
            max-height: 80px;
            overflow: hidden;
          }

          .btn-toggle {
            font-size: 12px;
          }
        }
      }
    }

    .post-comment-container {
      float: right;
      width: 50%;
      border-left: 1px solid #e6e7eb;
      padding: 0 20px;
      overflow: auto;
      height: calc(100vh - 580px);
      .toggle-container{
        span{
          margin-right:.75rem;
        }
      }
      .btn-toggle{
        border:1px solid #e4e5ec;
      }
      .post-left-container {
        font-size: 14px;
        color: #30323b;

        input {
          height: 40px;
          border: 1px solid #e6e7eb;
          color: #30323b;
        }

        textarea {
          color: #30323b;
        }

        .comment-tip {
          width: 14px;
          height: 14px;
          border-radius: 7px;
          border: 1px solid #aaabad;
        }

        .action-container {
          .btn {
            padding: 13px 12px;
            font-size: 12px;
            width: 113px;
            text-align: center;
            box-shadow: none;
            flex: 1;
          }

          .btn-save {
            max-width: 200px;
          }
        }
      }

      .post-right-container {
        & > div {
          flex: 1;

          .comment-count-info {
            min-height: 100px;

            small.text-muted {
              font-size: 10px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
