.chat-container.card {
  background: #d9dbdc;
  border-radius: 56px;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:before {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    position: absolute;
    top: 6px;
    content: "";
    left: 6px;
    border-radius: 50px;
    background: #f8f8f8;
    z-index: 1;
  }
  .sleep {
    position: absolute;
    top: 190px;
    right: -4px;
    width: 4px;
    height: 66px;
    border-radius: 0px 2px 2px 0px;
    background: #d9dbdc;
  }
  .volume {
    position: absolute;
    left: -4px;
    top: 188px;
    z-index: 0;
    height: 66px;
    width: 4px;
    border-radius: 2px 0px 0px 2px;
    background: #d9dbdc;
    &:before {
      position: absolute;
      left: 2px;
      top: -78px;
      height: 40px;
      width: 2px;
      border-radius: 2px 0px 0px 2px;
      background: inherit;
      content: "";
      display: block;
    }
    &:after {
      position: absolute;
      left: 0px;
      top: 82px;
      height: 66px;
      width: 4px;
      border-radius: 2px 0px 0px 2px;
      background: inherit;
      content: "";
      display: block;
    }
  }
  .message {
    border-radius: 36px;
    font-size: 13px;
    line-height: 16px;
    max-width: 65%;
    img {
      width: 150px;
    }
  }
  .header {
    text-transform: uppercase;
    padding: 30px;
    min-height: 134px;
    z-index: 2;
    & > img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: contain;
    }

    .user-info {
      margin-right: 1rem;

      .user-name {
        line-height: 1.5rem;
        color: #30323b;
        font-size: 14px;
      }

      .user-subscription {
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 1px;

        .btn-toggle-subscribe {
          color: #b1b9cd;
          font-size: 10px;
        }

        span {
          color: #27f0e2;
          margin-right: 1rem;
          font-size: 12px;
        }
      }

      .user-sex {
        color: rgba(48, 50, 59, 0.5);
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 1px;
      }

      .user-active-engagements {
        color: #b1b9cd;
        font-size: 10px;
        font-weight: normal;
        text-decoration: underline;

        img {
          width: 10px;
          height: 14px;
          margin-right: 0.8rem;
        }
      }

      .user-inactive-engagements {
        font-size: 12px;
        color: #f0277c;
      }
    }
  }

  .card-body {
    background: #fff;

    border: 1px solid #e6e7eb;
    border-radius: 1px;
    overflow: auto;
    margin: 0 20px;
    z-index: 2;
    .date {
      color: #bec3c9;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .owner-chat {
      width: 80%;
      &:after {
        border-top-right-radius: 48px;
        border-bottom-left-radius: 48px;
        border-top-left-radius: 48px;
      }
      span {
        background-color: #0084ff;
        border-radius: 12px 12px 12px 12px;
        color: white;
        line-height: 18px;
        padding: 6px 10px;
      }

      > img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
        margin-left: 10px;
      }
    }

    .subscriber-chat {
      width: 80%;

      span {
        background-color: #f1f0f0;
        border-radius: 16px 16px 16px 6px;
      }

      > img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }

  .card-footer {
    border-top-width: 0 !important;
    //min-height: 64px;
    margin: 10px 20px 25px;
    padding: 0;
    z-index: 2;
    .chat-widgets-container {
      .chat-types {
        .chat-type {
          font-size: 10px;
          color: #30323b;
          letter-spacing: 1px;

          &:hover {
            cursor: pointer;
          }

          &.active {
            color: #0084ff;
            border-bottom: 3px solid #0084ff;
          }
        }
      }

      .chat-toolbar {
        button {
          width: 18px;
          height: 18px;
          padding: 0;
          margin: 0 0 0 1rem;
          color: #b1b9cc;

          i {
            font-size: 18px;
          }

          &:hover,
          &:active {
            color: #0084ff;
          }
        }
      }
    }

    .btn-send-chat {
      right: -5px;
      bottom: 3px;
      &:hover {
        path {
          fill: #0084ff;
        }
      }
    }

    input {
      padding-right: 60px;
    }
  }
}
