$primaryColor: #274bf0;

a {
    cursor: pointer;
}

.placeholder-color {
    color: #b1b9cd !important;
}

.btn {
    font-weight: normal;
}

.recharts-responsive-container {
    .recharts-wrapper {
        margin-top: 10px;
        margin-left: -20px;

        .recharts-surface {
            .recharts-yAxis {
                line {
                    stroke: #e6e7eb;
                }

                .recharts-cartesian-axis-tick {
                    text {
                        fill: #aaabad;
                        font-size: 10px;
                        line-height: 12px;
                    }
                }
            }

            .recharts-xAxis {
                line {
                    stroke: #e6e7eb;
                }

                .recharts-cartesian-axis-tick {
                    text {
                        fill: #30323b;
                        font-size: 10px;
                        line-height: 12px;
                        letter-spacing: 1px;
                    }
                }
            }
        }

        .recharts-dot {
            background: white;
            fill: white;
            // r: 4;
            border: 2px solid #274bf0;
            stroke: #274bf0;
            fill-opacity: 1;
        }

        .recharts-cartesian-grid-horizontal {
            line {
                stroke: #e6e7eb;
            }
        }
    }
}

.dropdown-menu[role="menu"] {
    max-height: 400px;
    overflow: auto;
    z-index: 10000;
}
.form-check-input[type="radio"],
.form-check-input[type="radio"]:checked + label,
.form-check-input[type="radio"]:not(:checked) + label,
label.btn input[type="radio"]:checked + label,
label.btn input[type="radio"]:not(:checked) + label {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: $primaryColor;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: $primaryColor;
}
